<!DOCTYPE html>
<html lang="en">
<head>
    <link href="src/css/pokemon.css" rel="stylesheet" type="text/css" />
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js">
    /</script>-->
    <script src="src/js/angular.min.js"></script>
    <script src="src/js/pokemon_angular.js"></script>
    <meta charset="UTF-8">
    <title>Pokemon</title>
</head>
<body  ng-app="pokeModule">

<div ng-controller="myCtrl">
    <div class="table">
        <div>
            <select selected='name' ng-model="selected" id="select">
                <option value="name" >Name</option>
                <option value="id">Id</option>
            </select>
        </div>
        <table id="table">
            <tr ng-repeat="item in pokemons | orderBy:selected"  ng-click="go(item)">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td><img src={{item.url}}></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>

